body
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
  color: #444

h1
  text-transform: lowercase
  font-size: 32px

.hero
  text-align: center

// Override default bootstrap styles so we don't
// have to rely on their plugin
.modal
  display: block

.alert
  display: none

a
  color #49afcd
  &:hover
    color: darken(#49afcd, 20%)

#container
  margin-top: 60px
  margin-bottom: 100px

