<h1>Svältvinter</h1>
<h2>Vintersorg</h2>

<p>
Den birfilande snöstorm vid herkuliska uren
Över iskrönt gränsrygg i ursprungsmakt
Fran bergryggens skulderblad hörs näverluren
De klagande toner i svältande trakt
</p>
<p>
Med hungerns sorgevagnar som släpande ok
Utmärglade, halögda, med bukar som rämnar
Nybyggaröden insvepta i vinterns dok
Där ovädret skövlar och ruiner efterlämnar
</p>
<p>
Vävtätt är snöfallet som ger en matt belysning
Kylan förkunnar sin härskarrätt
Nu födan har sinat, allt känns som en feberrysning
Det gnager i själen hos fjällbygdens ätt
</p>
<p>
Livslagan falnar för omältig nöd
"Ett kungarike, för kött och bröd"
Fran korpboning höres hanskratten
Sa sakteligen närmar sig polarnatten
</p>
<p>
Och fjällskred avlas vid topparnas fästen
En dundrande härsmakt i rasande färd
Byns undergang, och lavinen är själva offerprästen
Och drivornas fängsel dess altarhärd
</p>
