<div class="container hero">
  <h1>hur är det, arkitekt?</h1>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <a href="#items" class="btn btn-lg btn-primary">View List</a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
