<table class="table items">
  {{#items}}
    <tr data-id="{{id}}">
      <td class="name">
        <h4>
          {{name}}
        </h4>
        <span>{{position}}</span>
      </td>
    </tr>
  {{/items}}
</table>
