<form class="editable form-inline">
<table class="table table-hover">
  <tr>
    <td>name</td>
    <td>
      <div class="editable" data-name="name">
        <span>{{name}}</span>
        <input type="text" value="{{name}}" class="form-control"/>
      </div>
    </td>
  </tr>
  <tr>
    <td>position</td>
    <td>
      <div class="editable" data-name="position">
        <span>{{position}}</span>
        <input type="text" value="{{position}}" class="form-control" />
      </div>
    </td>
  </tr>
  <tr>
    <td>band</td>
    <td>
      <div class="editable" data-name="band">
        <span>{{band}}</span>
        <input type="text" value="{{band}}" class="form-control" />
      </div>
    </td>
  </tr>
</table>
</form>
<a href="#items" class="btn btn-default">Go Back</button>
<a href="#" class="save-item btn btn-primary disabled">Save</button>
