<table class="table table-hover items">
  {{#items}}
    <tr data-id="{{id}}">
      <td class="name">
        <h4>
          {{name}}
        </h4>
        <span>{{position}}</span>
        <div class="btn-group">
          <button type="button" class="btn btn-default">
            <i class="icon-pencil icon-large"></i> 
          </button>
        </div>
      </td>
    </tr>
  {{/items}}
</table>
