table.table.table-hover.items
  | {{#items}}
  tr(data-id='{{id}}')
    td.name
      // inline styles since this isn't generic
      h4(style='display:inline;margin-right:20px') {{name}}
      .btn-group
        button.btn.btn-default.edit(type='button')
          i.icon-wrench.icon-large
        button.btn.btn-default.delete(type='button')
          i.icon-trash.icon-large
  | {{/items}}
