.modal-backdrop.fade
.modal.fade(class='{{type}}')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button') &times;
        h4.modal-title {{title}}
      .modal-body {{content}}
      .modal-footer
        | {{#actions}}
        a.btn(href='#', data-action='{{action}}', class='btn-{{type}}') {{message}}
        | {{/actions}}
